<div class="ladder-summary">

  <h2>{{ name }}</h2>

  <small>{{ path }}</small>

  <p>{{ about }}</p>

  <button {{ action 'edit' }}>Edit</button>
  <button {{ action 'delete' }}>Delete</button>

  {{#link-to 'games' }}
    <button>Games</button>
  {{/link-to}}
  {{#link-to 'games.create' }}
    <button>New Game</button>
  {{/link-to}}
</div>

{{#if deleteMode }}
<div class="confirm-box">
  <h4>Really delete this ladder?</h4>
  <button {{ action 'confirmDelete' }}> yes </button>
  <button {{ action 'cancelDelete' }}> no </button>
</div>
{{/if}}

{{ outlet }}
