<div class="user-edit">

  <label>User first name</label>
  {{ input value=firstName }}

  <label>User last name</label>
  {{ input value=lastName }}

  <label>User email</label>
  {{ input value=email }}

  <label>User short bio</label>
  {{ textarea value=bio }}

  <label>Choose user avatar</label>
  {{ input value=avatarUrl }}

</div>

<button {{ action 'save' }}> ok </button>
